version: '3.9'
services:
  frontend:
    build:
      context: ./front
    ports:
      - "5173:5173" 
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"  
    depends_on:
      - db  # Connect to the MySQL database container

  db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: lit123
      MYSQL_DATABASE: Penzi
    ports:
      - "3306:3306"  # Map the container's port 3306 to the host's port 3306
