version: "3"
services:
  backend:
    image: charleslit/penzi2:latest
    command: sh -c "sleep 30s ; python3 ./run.py"
    depends_on:
      - mysql

  mysql:
    build: ./db/
    restart: always
    environment:
      MYSQL_DATABASE: 'penzi'
      MYSQL_ROOT_PASSWORD: 'lit123'
    ports:
      - '3306:3306'
    volumes:
      - ./db_data:/var/lib/mysql

  frontend:
    image: charleslit/penzi1:front-v1
    depends_on:
      - backend

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/live/charleslit.uk.to/fullchain.pem:/etc/nginx/ssl/charleslit.uk.to.crt
      - /etc/letsencrypt/live/charleslit.uk.to/privkey.pem:/etc/nginx/ssl/charleslit.uk.to.key
      - /etc/letsencrypt/live/penzi.chickenkiller.com/fullchain.pem:/etc/nginx/ssl/penzi.chickenkiller.com.crt
      - /etc/letsencrypt/live/penzi.chickenkiller.com/privkey.pem:/etc/nginx/ssl/penzi.chickenkiller.com.key
    depends_on:
      - backend